#SignInBtn{
    -fx-background-radius: 20px;
    -fx-background-color: #AAA3A0;
    -fx-text-fill: #4D4C4C;
    -fx-font-family: "Hack Nerd Font";
    -fx-font-size: 28px;
    -fx-font-weight: 400;
    -fx-cursor: hand;
}

#SignInBtn:hover{
    -fx-background-color: #d2c8c5;
    -fx-text-fill: #818181;
}

/*stock page*/
.card{
    -fx-background-radius: 25px;
    -fx-background-color: #D1CDCD; /*must change*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}

.card-text{
    -fx-fill: #463931;
    -fx-font-size: 24px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
}

.card-text-title{
    -fx-font-size: 40px;
}

.primary-btn{
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #D1CDCD;
}

.primary-btn:pressed{
    -fx-background-color: #a8a5a5;
}

.secondary-btn{
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: black;
    -fx-text-fill: white;
}
.secondary-btn:pressed{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
}
.secondary-btn:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}



.white-bg{
    -fx-background-color: white;
}
.primary-bg{
    -fx-background-color: #6499E9;
}
.danger-bg{
    -fx-background-color: #F65D5D;
}
.parent-bg{
    -fx-background-color: #EDEDED;
}
.black-bg{
    -fx-background-color: black;
}


.danger-text{
    -fx-text-fill: #F65D5D;
}
.white-text{
    -fx-text-fill: white;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}
.shadow2{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

/*stock page*/
.card-status{
    -fx-background-radius: 25px;
    -fx-background-color: #D1CDCD; /*must change*/
    -fx-pref-width: 313px;
    -fx-pref-height: 183px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}

.card-text{
    -fx-fill: #463931;
    -fx-font-size: 24px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
}

.card-text-title{
    -fx-font-size: 40px;
}

.primary-btn{
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #D1CDCD;
}

.primary-btn:pressed{
    -fx-background-color: #a8a5a5;
}

.white-bg{
    -fx-background-color: white;
}
.primary-bg{
    -fx-background-color: #6499E9;
}
.danger-bg{
    -fx-background-color: #F65D5D;
}
.parent-bg{
    -fx-background-color: #EDEDED;
}


.danger-text{
    -fx-text-fill: #F65D5D;
}
.white-text{
    -fx-text-fill: white;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 4);
}
.shadow2{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

/*for table page*/
.table-ready{
    -fx-background-color: #7eeb6c;
}
.table-busy{
    -fx-background-color: #e96767;
}
.table-prepare{
    -fx-background-color: #e6e967;
}

.table-card{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
}
.table-card:pressed{
    -fx-background-color: #a8a5a5;
}



* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-accent-color: #B6FF00;
    -fx-grey-color: #b9b9b9;
    -fx-light-grey-color: #d1d1d1;
    -fx-lightest-grey-color: #F9F9FB;

    -fx-focus-color: -fx-secondary-color;
}

.table-button {
    -fx-background-color: -fx-primary-color;
    -fx-cursor: hand;
}
.table-button:hover{
    -fx-background-color: transparent;
}
.table-view {
    -fx-border-color: transparent;
    -fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: -fx-light-grey-color;
    -fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}
/* This is just magic */
.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
    -fx-border-insets: 0, 1;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell:filled:hover {
    -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
    -fx-background-color: #eaeaea;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: black;
}
.table-view .cell:filled{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
    -fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
    -fx-background-color: -fx-accent-color;
}
.table-view .placeholder .label {
    -fx-text-fill: red;
    -fx-padding:20px;
}